.author {
	font-family: "Helvetica", Arial, sans-serif;

	a {
		color: #616161;
	}

	.avatar {
		flex-shrink: 0;
		flex-grow: 0;

		img {
			width: 100%;
			display: inline-block;
			vertical-align: top;
		}
	}

	.detail {
		flex-shrink: 1;
		flex-grow: 1;

		h3 {
			font-weight: 600;
			text-transform: uppercase;
		}

		span {
			color: #9E9E9E;
			display: block;
			line-height: 1.4;
		}
	}
}

@media (min-width: 720px) {
	.author {
		margin: 24px 0 24px 0;
		.avatar {
			width: 60px;
			margin: 0 16px 0 0;
		}

		.detail {
			h3 {
				font-size: 14px;
				margin: 0 0 4px 0;
			}
			span {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 719px) {
	.author {
		margin: 16px 0 16px 0;
		.avatar {}

		.detail {
			h3 {
				font-size: 14px;
				margin: 0 0 8px 0;
			}
			span {
				font-size: 14px;
			}
		}
	}
}