.tile {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;

	.tile-item {
		box-sizing: border-box;

		a {
			color: #121212;
			display: block;

			&:hover {
				background-color: #E0F7FA;
				transition: all 0.2s ease-in-out;
			}

			.tile-header {
				p {
					font-style: italic;
					color: #424242;
				}

				.tile-meta {
					font-size: 11px;
					font-family: "Helvetica", Arial, sans-serif;
					text-transform: uppercase;
					color: #9E9E9E;
					margin: 0 0 8px 0;
					display: flex;

					.author {
						margin: 0 16px 0 0;
					}

					time {
						flex-shrink: 1;
						flex-grow: 1;
					}

					.tag {
						letter-spacing: 0.5px;
						color: #3E3E3E;
						background-color: #EEE;
						padding: 2px 10px 2px 10px;
						margin: -2px 0 0 0;
						border-radius: 3px;
					}
				}
			}

			.tile-image {
				position: relative;
				width: 100%;
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}


@media (min-width: 960px) {
	.tile {
		.tile-item {
			a {
				.tile-header {
					padding: 24px 36px 36px 36px;
				}
			}
		}
	}
}

@media (min-width: 728px) and (max-width: 959px) {
	.tile {
		.tile-item {
			a {
				.tile-header {
					padding: 24px;
				}
			}
		}
	}
}


@media (min-width: 728px) {
	.tile {
		.tile-item {
			width: 50%;
			margin: 0 0 36px 0;
			a {
				.tile-header {
					h2 {
						font-size: 36px;
						margin: 0 0 12px 0;
					}
				}

				.tile-image {
					height: 300px;
					overflow: hidden;

					img {
						min-width: 400px;
						width: 100%;
						min-height: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 727px) {
	.tile {
		.tile-item {
			a {
				.tile-header {
					padding: 14px;
				}
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 727px) {
	.tile {

		.tile-item {
			width: 50%;
			margin: 0 0 36px 0;
			a {
				.tile-header {
					h2 {
						font-size: 24px;
						margin: 0 0 12px 0;
					}

					p {
						font-size: 14px;
					}
				}

				.tile-image {
					height: 250px;
					overflow: hidden;

					img {
						width: auto;
						height: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 479px) {
	.tile {
		.tile-item {
			width: 100%;
			margin: 0 0 36px 0;

			a {
				.tile-header {
					h2 {
						font-size: 24px;
						margin: 0 0 12px 0;
					}

					p {
						font-size: 14px;
					}
				}

				.tile-image {
					overflow: hidden;
					min-height: 200px;

					img {
						width: 100%;
					}
				}
			}
		}
	}
}